/*Lore Navigation Header
-------------------------------------*/
.LoreNavHeader {

}

/*Lore Navigation Items
-------------------------------------*/
.LoreNavItems {
    letter-spacing: 1px;
    
}


/* HR Styles
-------------------------------------*/
hr.style-seven {
    height: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    max-width: 150px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}